
@import "../src/sass/variables.scss";

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background: $white-color;
}

.homeSection{
  height: 100vh;
  padding: 100px 0;

  & .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
}

strong{
  font-size: 2.5rem;
} 

.headerSection{
  background-image:url('images/banner.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & h1{
    margin: 0;
    text-align: center;
    color: #fff;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.8);
  }

}


@-webkit-keyframes up-down { 
  0% { 
    transform: translateY(10px); 
  } 
  100% { 
    transform: translateY(-10px); 
  } 
}

@keyframes up-down { 
  0% { 
    transform: translateY(10px); 
  } 
  100% { 
    transform: translateY(-10px); 
  } 
}

nav.navbar li a.active{
  border-bottom: 1px solid #2e2e2e;
  font-weight: 600;
} 