*{
  font-family: 'Roboto', sans-serif;
}

#homeSection{
  height: 100vh;
  padding: 100px 0;
}

#aboutSection, #commonSection, .serviceSection{
  padding: 100px 0;
}

strong{
  font-size: 2.5rem;
}

#homeSection .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down { 
  0% { 
    transform: translateY(10px); 
  } 
  100% { 
    transform: translateY(-10px); 
  } 
}

@keyframes up-down { 
  0% { 
    transform: translateY(10px); 
  } 
  100% { 
    transform: translateY(-10px); 
  } 
}

nav.navbar li a.active{
  border-bottom: 1px solid #2e2e2e;
  font-weight: 600;
} 